body{
    background-image: url("775x300.png");
}
header img{
position: absolute;
width: 1019px;
height: 150px;
left: 210px;
top: 0px;
}
.v2{
    position: absolute;
width: 1019px;
height: 1000px;
left: 210px;
top: 145px;

background: #919D86;
}
.bx-wrapper {
    width: 775px;
    margin-top: 180px;
    margin-left: 320px;
}
