body{
    background-image: url("../супер торрент нет/images/abstract-black-background-with-stars-for-your-design-vector-starry-night-sky-space-backdrop_158941-101\ 1.png");
}
header img{
    display: flex;
    align-items: center;
    justify-content: center;
}